/* import google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,400&display=swap');
*{
     margin:0;
     padding:0;
     box-sizing:border-box;
}
body{
     overflow-x: hidden;
     background-position: center;
     font-family: 'Poppins', sans-serif;
     font-size:2rem;
}
.logo{
     border-radius: 50%;
     margin:5px;
}
.navbar-header a{
     font-size:3rem;
     font-weight:bolder;

}
.btn-default{
     border-radius: 10px;
}
.navbar-header a span{
     color:red;
     font-size:3.5rem;
}
.nav-links .nav-item .nav-link{
     letter-spacing: 2px;
     line-height: 20px;
     font-size: small;
}

/* header */
.header{
     height:100vh;
     background: linear-gradient(rgba(0, 0, 0, 0.46),rgba(0, 0, 0, 0.701)),url(./assets/gym.avif);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width:100%;
}
.header-content{
     height:100vh;
     display:flex;
     flex-direction: column;
     justify-content: center;
     margin-left: 100px;
     width:60%;
     color:white;
}
.header-content h1{
     color:red;

}

.about-us{
     width:100%;
     margin:auto;
     text-align: center;
}
.row{
     display:flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     flex-shrink: 0;
}
.column{
     border:1px solid black;
     height:60vh;
     margin:10px;
     margin-bottom: 40px;
     border-radius: 10px;
     width:400px;
     text-align: center;
     color:white;
     position: relative;
}
.column p{
     position: absolute;
     bottom:0;
     width:100%;
     font-size: 1rem;
     text-align: center;
     padding:10px;
     color:rgba(255, 255, 0, 0.684);
}
.column:hover{
     transform:translateY(10px);
     transition: 0.5 ease-in-out;
     box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.496);
}
/* images */
.column-1
 {
     background: linear-gradient(rgba(0, 0, 0, 0.46),rgba(0, 0, 0, 0.701)),url(./assets/image1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}
.column-2
{
     background: linear-gradient(rgba(0, 0, 0, 0.46),rgba(0, 0, 0, 0.701)),url(./assets/image2.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;

}
.column-3{
     background: linear-gradient(rgba(0, 0, 0, 0.46),rgba(0, 0, 0, 0.701)),url(./assets/image3.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;

}  
@media screen and (max-width:830px)
{
   .column{
    width:90%;
   }
}
/* video */
.container .row iframe{
     width:80vw;
     height:80vh;
     box-shadow: 0 0 2px 2px solid rgba(0, 0, 0, 0.508);
     margin-bottom: 40px;
}
@media screen and (max-width:830px)
{
   .container .row iframe{
     width:90vw;
   }
}
/* protein */
.protein h1{
     text-align: center;
     color:red;
}
.protein ul{
     list-style-type: none;
     color:rgba(0, 0, 0, 0.281);
     margin-bottom: 40px;
     font-size: 1.5rem;

}
.protein p{
     text-align: justify;
     color:rgba(0, 0, 0, 0.281);
     font-size:1.5rem;
}

/* instruction */
.instruction li a{
     color:red;
}

.menu {
     display:flex;
     justify-content: center;
     align-items: center;
     height:80vh;
     margin-bottom: 50px;
     color:white;
}
#menu1{
     background: linear-gradient(rgba(0, 0, 0, 0.46),rgba(0, 0, 0, 0.701)),url(./assets/foods.webp);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     position: relative;
}
#menu2{
     background: linear-gradient(rgba(0, 0, 0, 0.46),rgba(0, 0, 0, 0.701)),url(./assets/workout.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     position: relative;

}
#menu3{
     background: linear-gradient(rgba(0, 0, 0, 0.46),rgba(0, 0, 0, 0.701)),url(./assets/exercise.webp);
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     background-position: center;
}

/* forms */
.form{
     background: linear-gradient(to left,rgb(0, 0, 0),rgba(0, 0, 0, 0.734));

     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width:80%;
     min-height:60vh;
     margin-bottom: 40px;
     border:1px solid rgba(0, 0, 0, 0.456);
     border-radius: 10px;
     
}
.form:hover{
     transform:translateY(10px);
     transition: 0.5 ease-in-out;
     box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.496);
}
.form input{
     border:none;
     outline:none;
     width:90%;
     margin:20px;
     padding:10px;
     border-radius: 10px;
}
.form button{
     border-radius: 5px;
     padding:10px;
     border:none;
     outline:none;
}
.form button:hover{
     transform: translateX(40px);
}

/* review */
.container-fluid .row{
     display:flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}
.cotainer-fluid .row .column{
     margin:10px;
}
.review{
     text-align: center;
     color:red;
}
.c1{
     width:300px;
     background: linear-gradient(rgba(0, 0, 0, 0.46),rgba(0, 0, 0, 0.701)),url(./assets/intel1.webp);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}
.c2{
     width:300px;
     background: linear-gradient(rgba(0, 0, 0, 0.46),rgba(0, 0, 0, 0.701)),url(./assets/intel2.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}
.c3{
     width:300px;
     background: linear-gradient(rgba(0, 0, 0, 0.46),rgba(0, 0, 0, 0.701)),url(./assets/intel3.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}
.c4{
     width:300px;
     background: linear-gradient(rgba(0, 0, 0, 0.46),rgba(0, 0, 0, 0.701)),url(./assets/intel4.webp);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}
.footer{
     display:flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background:rgba(0, 0, 0, 0.084);
}

.footer__header{
     font-size:45px;
     font-weight: 500;
     margin-top:20p;
     color:red;

}
.footer__links{
     margin:30px 0px;
     display:flex;
     align-items: center;
     gap:100px;
}
.footer__links li{
     list-style-type: none;
}
.footer__links li:hover{
     cursor:pointer;
}
.footer__social-icons {
     display:flex;
     gap:50px;
}
.footer__links li,.footer__social-icons:hover{
     cursor:pointer;
}
.footer__copyright hr{
     height:3px;
     background-color: black;
}
.footer__copyright{
     font-size:44px;
     font-weight: 500;
}
